# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea
iTunesBackup/bin
iTunesBackup/obj
iTunesBackup.v12.suo
exe/iTunesBackup.vshost.exe.config
exe/iTunesBackup.pdb
exe/iTunesBackup.exe.config
exe/iTunesBackup.vshost.exe.manifest
exe/iTunesBackup.vshost.exe
.vs